# Editor
.vscode/

# Dependencies
node_modules/
**/node_modules/

# Build files
.next/
**/.next/
dist/
build/
coverage/

# Env / secrets
.env
.env.*
env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db